@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #D90414;
  color: white;
}

.navbar-left,
.navbar-right {
  display: flex;
  gap: 1rem;
}

.navbar-center {
  flex-grow: 1;
  text-align: center;
}

.logo {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #fca311;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #FF9900;
}

.cart-button {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.cart-button .icon{
  color: #fca311;
}
/* .cart-button:hover {
  background-color: #666;
} */

.icon {
  font-size: 1.5rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .navbar-left,
  .navbar-right {
    margin: 0.5rem 0;
  }
}